<div class="flex justify-center gap-4">

    <!-- Caffè Latte -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Caffè Latte</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/beverage_caffeLatte.jpg" alt="Caffè Latte" class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Dalgona Coffee -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Dalgona Coffee </h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/beverage_dalgonaCoffee.jpg" alt="Dalgona Coffee " class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Caffè Macchiato -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Caffè Macchiato</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/beverage_caffeMacchiato.jpg" alt="Caffè Macchiato" class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Chocolate Sundae -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Chocolate Sundae</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/beverage_chocolateSundae.jpg" alt="Chocolate Sundae" class="w-img-200 h-img-200"/>
        </div>
    </div>

</div>