<div class="flex justify-center gap-4">

    <!-- Choco Fudge Cookie -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Choco Fudge</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/cookie_chocoFudge.jpg" alt="Choco Fudge Cookie" class="w-img-200 h-img-200"/>
        </div>
    </div>


    <!-- Creamy Deluxe Cookie -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Oatmeal</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/cookie_oatmeal.jpg" alt="Oatmeal Cookie" class="w-img-200 h-img-200"/>
        </div>
    </div>

    
    <!-- Double Chocolate Cookie -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Double Chocolate</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/cookie_doubleChocolate.jpg" alt="Double Chocolate Cookie" class="w-img-200 h-img-200"/>
        </div>
    </div>


    <!-- Peanut Butter Cookie -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Peanut Butter</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/cookie_peanutButter.jpg" alt="Penaut Butter Cookie" class="w-img-200 h-img-200"/>
        </div>
    </div>

</div> <br/>


<!-- 2nd Row -->


<div class="flex justify-center gap-4">

    <!-- Rocky Mountain Cookie -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Rocky Mountain</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/cookie_rockyMountain.jpg" alt="Rocky Mountain Cookie" class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Puffy Choco Chip Cookie -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Puffy Choco Chip</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/cookie_puffyChocoChip.jpg" alt="Puffy Choco Chip Cookie" class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Cranberry Dreams Cookie -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Cranberry Dreams</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/cookie_cranberryDreams.jpg" alt="Cranberry Dreams Cookie" class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Chocolate Crinkles  Cookie -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Chocolate Crinkles</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/cookie_crinkles.jpg" alt="Chocolate Crinkles Cookie" class="w-img-200 h-img-200"/>
        </div>
    </div>

</div>