<div class="flex justify-center gap-4">

    <!--Swirly Choco Deluxe Cupcake -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Swirly Choco <br /> Deluxe</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/cupcake_swirlyChocoDeluxe.jpg" alt="Swirly Choco Deluxe Cupcake" class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Dreamy Choco Cupcake -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Dreamy Choco <br /> &nbsp; </h1> <!-- &nbsp = HTML entity for blank space. -->
        </div>

        <div class="border-4 border-black">
            <img src="/img/cupcake_dreamyChoco.jpg" alt="Dreamy Choco Cupcake" class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Vanilla Lemon Cupcake -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Vanilla Lemon <br/> &nbsp; </h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/cupcake_vanillaLemon.jpg" alt="Vanilla Lemon Cupcake" class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Red Velvet Cupcake -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Red Velvet <br/> &nbsp; </h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/cupcake_redVelvet.jpg" alt="Red Velvet Cupcake" class="w-img-200 h-img-200"/>
        </div>
    </div>

</div>


<!-- 2nd Row -->


<div class="flex justify-center gap-4">

    <!-- Tropical Feast Cupcake -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Tropical Feast <br/> &nbsp;</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/cupcake_tropicalFeast.jpg" alt="Tropical Feast Cupcake" class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Choco Fruit Delight Cupcake -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Choco Fruit Delight <br/> &nbsp;</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/cupcake_chocoFruitDelight.jpg" alt="Choco Fruit Delight Cupcake" class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Frosty Decadence Cupcake -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Frosty Decadence <br/> &nbsp;</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/cupcake_frostyDecadence.jpg" alt="Frosty Decadence Cupcake" class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Choco Sweetheart Cupcake -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Choco Sweetheart <br/> &nbsp;</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/cupcake_chocoSweetheart.jpg" alt="Choco Sweetheart Cupcake" class="w-img-200 h-img-200"/>
        </div>
    </div>

</div>