<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kenzo's | Successful Purchase</title>

    <meta charset="UTF-8" />
    <meta name="description" content="Kenzo's Bakery filled with goodies to follow your heart's desire." />
    <meta name="keywords" content="Cafe, Cookies, Snacks, Cupcakes, Beverages, Macchiato, Latte, Milkshake, Coffee" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--meta http-equiv="refresh" content="60" /-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <link rel="stylesheet" href="/output.css" />
    <link rel="stylesheet" href="/style.css" />

    <link rel="icon" type="image/jpg" href="/img/cafe.jpg" />

</head>