<div class="flex justify-center gap-4">

    <!-- Corinthian Flower Biscuit -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Corinthian Flower</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/snack_corinthianFlower.jpg" alt="Corinthian Flower Biscuit" class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Gingerbread -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Gingerbread</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/snack_gingerbread.jpg" alt="Gingerbread" class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Macarons -->

    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Macarons</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/snack_macarons.jpg" alt="Macarons" class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Cinnamon Delight -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Cinnamon Delight</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/snack_cinnamonDelight.jpg" alt="Cinnamon Delight" class="w-img-200 h-img-200"/>
        </div>
    </div>

</div>


<!-- 2nd Row -->


<div class="flex justify-center gap-4">

    <!-- Chocolate Brownie -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Chocolate Brownie</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/snack_chocolateBrownie.jpg" alt="Chocolate Brownie" class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Snowy Muffin -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Snowy Muffin<br/> &nbsp;</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/snack_snowyMuffin.jpg" alt="Snowy Muffin" class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Fruit Tart -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Fruit Tart <br/> &nbsp;</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/snack_fruitTart.jpg" alt="Fruit Tart" class="w-img-200 h-img-200"/>
        </div>
    </div>

    <!-- Pecan Pie -->
    <div class="m-4 relative inline-block border-4 border-customBrown shadow-[0_0_5px_1px] shadow-customBrown-light">
        <div class="p-2 bg-white text-center border-4 border-black">
            <h1 class="cookies text-xl">Pecan Pie <br/> &nbsp;</h1>
        </div>

        <div class="border-4 border-black">
            <img src="/img/snack_pecanPie.jpg" alt="Pecan Pie" class="w-img-200 h-img-200"/>
        </div>
    </div>

</div>