<%- include('partials/headContact') %>

<body class="bg-[url('img/cafe.jpg')] bg-no-repeat bg-center bg-fixed bg-cover bg-opacity-5">


    <div class="fixed inset-0 bg-black opacity-85 z-0"></div>

    <!-- Navbar -->
    <nav class="relative bg-customBrown2-light flex justify-between overflow-hidden">
        <ul class="list-none p-0 m-0">
            <li class=" inline-block hover:bg-customBrown2 active:bg-customBrown2-dark">
                <a href="/kenzoBakery" class="text-white text-xl no-underline block p-5">Home</a></li>
            <li class="inline-block hover:bg-customBrown2 active:bg-customBrown2-dark">
                <a href="/kenzoBakery/buy" class="text-white text-xl no-underline block p-5">Buy</a></li>
            <li class="inline-block hover:bg-customBrown2 active:bg-customBrown2-dark">
                <a href="/kenzoBakery/aboutUs" class="text-white text-xl no-underline block p-5">About Us</a></li>
            <li class="bg-customBrown2-veryDark inline-block">
                <a href="" class="text-yellow-300 text-xl no-underline block p-5">Contact</a></li>
        </ul> 

        <ul>
            <li class="bg-customBrown2 text-white text-xl block p-5">Kenzo's</li>
        </ul>

    </nav>

    <p class="title text-white text-8xl text-center relative py-8">~~ Contact Me ~~</p><br/>


    <div class="flex justify-center items-center space-x-32 my-16">
        <div class="flex justify-center items-center flex-col text-center">
            <a href="https://github.com/Kenzouh" target="_none">
                <i class="relative fa-brands fa-github text-white text-[150px] 
                hover:text-slate-300 active:text-slate-500 mb-4"></i>
            </a>
            <a href="https://github.com/Kenzouh" class="relative text-yellow-200 
            hover:text-yellow-300 active:text-yellow-500 text-7xl" target="_none">Kenzouh</a>
        </div>

        <div class="flex justify-center items-center flex-col text-center">
            <a href="https://github.com/Kenzouh" target="_none">
                <i class="fa-brands fa-linkedin relative text-white text-[150px] 
                hover:text-slate-300 active:text-slate-500 mb-4"></i>
            </a>
            <a href="https://www.linkedin.com/in/kenzo-ragundiaz-6b5136290/" 
            class="relative text-yellow-200 hover:text-yellow-300 active:text-yellow-500 
            text-7xl" target="_none">Kenzo</a>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/4f48ac18f0.js" crossorigin="anonymous"></script>
</body>